:root {
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --lightgrey: hsl(217, 12%, 63%);
  --mediumgrey: hsl(216, 12%, 54%);
  --mgreyopacity: hsla(216, 12%, 54%, 0.2);
  --darkblue: hsl(213, 19%, 18%);
  --verydarkblue: hsl(216, 12%, 8%);
  --orange: hsl(25, 97%, 53%);
  --navyblue: hsl(228, 45%, 44%);
}

html {
  font-size: 15px;
}
main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--black);
  font-family: 'Overpass', sans-serif;
}


.container, .thank-you {
  min-width: 21.8rem;
  /* min-height: 24rem; */
  background-color: var(--darkblue);
  border-radius: 1rem;
  margin: 0 10rem;
}

.container img {
  display:block;
  padding: 1rem;
}

.thank-you {
  text-align:center;
  padding: 2rem;
}

.thank-you img {
  padding: 0rem 3rem;
  text-align:center;
}

#rated {
  display:inline-block;
  color: --orange;
  background-color: var(--mgreyopacity);
  padding: 0.5rem 1.75rem;
  margin-top: 1.75rem;
  font-weight: 400;
  line-height: 1.47rem;
  border-radius: 1.25rem;
}

.hide {
  display:none;
}

.show {
  display:unset;
}

.star {
  background: var(--mgreyopacity);
  border-radius: 50%;
  height:3rem;
  width:3rem;
  margin-top: 1.5rem;
  margin-left: 1.5rem;
  margin-bottom: 1rem;
}

h1 {
  padding: 0 1.6rem 0.5rem 1.6rem;
  font-weight: 700;
  color:var(--white);
  font-size:1.6rem;
}

p {
  padding: 0 1.6rem 1rem 1.6rem;
  font-weight: 400;
  color: var(--lightgrey);
  margin-bottom: 0.5rem;
  font-size:0.9333rem;
  line-height: 1.47rem
}


ul {
  margin: 0.5rem 1rem 2rem 1rem;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content:space-around;
}

ul li {
  height: 2.9rem;
  width: 2.9rem;
  list-style-type: none;
  color:var(--lightgrey);
  display:block;
  padding: 0.8rem;
  border-radius: 50%;
  background-color: var(--mgreyopacity);
  text-align: center;
}

ul li:hover {
  cursor: pointer;
  background-color: var(--lightgrey);
  color: hsl(0, 0%, 100%);
}



.rated {
  color: hsl(0, 0%, 100%);
  background-color: var(--orange);
  }


button {
 display:block;
 min-width: 18.6rem;
 margin: 1rem auto 2rem auto;
 padding: 0.75rem 2rem;
 border: none;
 border-radius:2rem;
 background-color: var(--orange);
 cursor: pointer;
 text-transform: uppercase;
 color: var(--white);
 letter-spacing: 0.1246rem;
 font-size: 0.933rem;
}

button:hover {
  background-color: var(--white);
  color:var(--orange);
}

.attribution {
  color: var(--white);
  font-size: 11px;
  text-align: center;
  padding-top: 0.5rem;
}
    
.attribution a {
  color: var(--navyblue);
}


@media screen and (min-width: 620px) {
  .container {
      min-width: 27.47rem;
      min-height: 27.7rem;
      max-width: 27.47rem;
      max-height: 27.7rem;
      background-color: var(--darkblue);
      border-radius: 1rem;
      margin: 0 10rem;
    }
}